:root {
  --pokemon-red: #EB5435;
  --background: #fafafa;
  --white: #ffffff;
  --light-grey: #e0e0e0;
  --medium-grey: #828282;
  --dark-grey: #333333;
}

/* HEADER */

nav.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 52px;
}

.header-pokedex-logo {
  height: 120px;
  margin: 48px 36px;
}

.captured-pm-button {
  align-items: center;
  background-color: var(--pokemon-red);
  border-radius: 100px;
  display: flex;
  text-decoration: none;
}

.header-pokedex-logo:hover,
.captured-pm-button:hover {
  cursor: pointer;
  opacity: .9;
}

.header-pokeball-image {
  height: 72px;
}

.captured-pm-button-text {
  color: var(--white);
  font-size: 36px;
  padding-right: 16px;
}

/* HOME PAGE */

.home-page {
  display: flex;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.next-button:not(.disabled):hover,
.previous-button:hover {
  cursor: pointer;
  opacity: .7;
}

.next-button,
.previous-button {
  background-color: var(--pokemon-red);
  border: none;
  border-radius: 12px;
  color: var(--white);
  font-size: 16px;
  padding: 6px 25px;
}

.next-button.disabled,
.previous-button.disabled {
  background-color: var(--medium-grey);
}

.previous-button {
  margin-right: 10px;

}

/* Pokemon List Cards */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0 36px 50px 36px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--light-grey);
  height: fit-content;
  padding: 0;
  width: calc((100%/4) - 27px);
}

.card.selected {
  box-shadow: 7px 7px 20px var(--medium-grey);
}

.card:hover {
  cursor: pointer;
  opacity: .9;
}

.loader {
  border: 5px solid var(--light-grey); /* Light grey */
  border-top: 5px solid var(--pokemon-red); /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: 24px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-image {
  height: 160px;
  width: 160px;
  padding-top: 8px;
}

.card-image.hidden {
  visibility: hidden;
}

.card-text {
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
  padding: 8px 8px 8px 16px;
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.41px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-subtitle {
  color: var(--medium-grey);
  font-weight: 274;
  font-size: 24px;
  line-height: 28.64px;
  text-align: left;
}

/* Detail Card */

.detail-card {
  background-color: var(--white);
  border: none;
  border-radius: 44px;
  box-shadow: 0px 0px 25px var(--light-grey);
  height: fit-content;
  margin-right: 22px;
  min-width: 360px;
  padding-bottom: 40px;
}

.detail-card > .main {
  color: var(--white);
  border-radius: 44px 44px 0 0;
  font-size: 26px;
  font-weight: 700;
  padding: 48px 0;
  text-align: center;
}

.detail-card > .main > img {
  height: 140px;
  width: 140px;
}

.detail-card > .about,
.detail-card > .base-stats,
.detail-card > .captured-stats {
  border-radius: 16px;
  box-shadow: 0px 0px 20px var(--light-grey);
  margin: 32px 16px;
  padding: 16px;
}

.detail-card > .about > *,
.detail-card > .base-stats > *,
.detail-card > .captured-stats > * {
  margin: 10px 0;
}

.detail-card .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.48px;
  margin: 0;
}

.detail-card > .button-container {
  padding: 0 16px;
}

.capture-button {
  background-color: var(--pokemon-red);
  border: none;
  border-radius: 100px;
  color: var(--white);
  font-size: 18px;
  font-weight: 590;
  padding: 16px 0;
  width: 100%;
}

.capture-button:hover {
  cursor: pointer;
  opacity: .9;
}

/* Capture Modal */

.modal-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal-input-container > * {
  margin: 5px 0;
}

.modal-input {
  border: .5px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

.modal-capture-button {
  background-color: var(--pokemon-red);
  border: none;
  border-radius: 100px;
  color: var(--white);
  font-size: 24px;
  font-weight: 590;
  margin-top: 20px;
  padding: 12px 0;
  width: 100%;
}

.modal-capture-button.invalid {
  background-color: var(--light-grey);
}

.modal-capture-button:hover {
  cursor: pointer;
  opacity: .9;
}

/* CAPTURED PAGE */

.captured-container {
  padding: 0 36px;
}

/* Table Header */

.captured-table {
  border-collapse: collapse;
  width: 100%;
}

.captured-table-header {
  background-color: var(--light-grey);
  font-size: 24px;
  font-weight: 590;
  text-transform: uppercase;
}

.captured-table-header th:first-child {
  text-align: left;
  padding-left: 16px;
}

.captured-table-header th {
  padding: 16px 0;
}

/* Table Body */

.captured-table-body td:not(:first-child) {
  font-size: 28px;
  font-weight: 510;
  text-align: center;
}

.captured-table-body td:first-child:not(.empty-captured) {
  display: flex;
  align-items: center;
}

.captured-table-body img {
  border-radius: 16px;
  height: 100px;
  padding: 8px;
  width: 100px;
}

.captured-main-info {
  padding-left: 20px;
}

.captured-name {
  font-size: 28px;
  font-weight: 700;
}

.captured-type {
  font-size: 24px;
  font-weight: 274;
}

.captured-table-body > * {
  margin: 5px 0;
}

.release-button {
  background-color: var(--pokemon-red);
  border: none;
  border-radius: 100px;
  color: var(--white);
  font-size: 16px;
  font-weight: 590;
  padding: 10px;
}

.release-button:hover {
  cursor: pointer;
  opacity: .9;
}

.empty-captured {
  padding: 16px;
  text-align: center;
}